<template>
    <div class="container donate-form__container">
        <div class="row">
            <div class="price-button__container">
                <PriceButton v-for="preset in presets" :preset="preset"></PriceButton>
            </div>
            <div>
                <div class="form-container-symbol col-md-4">
                    <span>{{ defaultSymbol }}</span>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="suggestion" @keypress="isNumber($event)">
                </div>
                <div class="form-container-currency col-md-4">
                    <select  v-model="selectedCurrency" class="form-control" @change="changeCurrency">
                        <option :selected="currency.code == 'USD'"
                                v-for="currency in currencies">{{ currency.code }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-container__pay-button">
            <button @click="makeDonation()" class="btn btn-success">Donate</button>
        </div>
    </div>
</template>

<script>
    import PriceButton from "./PriceButton.vue";

    export default {
        name: "Form",
        components: {
          PriceButton,
        },
        computed: {
            defaultSymbol () {
                return this.$store.state.defaultSymbol;
            },
            suggestion: {
                get () {
                    return this.$store.state.suggestion;
                },
                set (value) {
                    this.$store.commit('updateSuggestion', value);
                    // this.$store.dispatch('setPresets', this.$store.state.priceButtonValues);
                }
            },
            presets () {
               // return this.$store.state.presets;
               return this.$store.state.priceButtonValues;
            },
        },
        data() {
            return {
                selectedCurrency: 'USD',
                currencies: this.$store.state.currencies,
            }
        },
        methods: {
            makeDonation() {
                console.log(`Make this fucking donation  ${this.$store.state.suggestion}`);

                this.$http.post('http://localhost:3000/donate/', {
                    amount: this.$store.state.suggestion, currency: this.selectedCurrency
                }).then((result) => {
                    //console.log(result.data.ok);
                    if(result.data.ok) {
                        alert('Thank you for your donation!');
                    }
                }).catch((e) => {
                    console.log(e);
                });
            },
            changeCurrency() {
                // let selectedCurrency = this.$store.state.currencies.find(currency => currency.code === this.selectedCurrency);
                let selectedCurrency = this.$store.getters.getCurrencyData(this.selectedCurrency);
                this.$store.dispatch('setSymbol', selectedCurrency.symbol);
                let arr = this.$store.state.presets;

                arr = arr.map((el) => {
                    // return Math.ceil(el * selectedCurrency.rate);
                    let temp = (el * selectedCurrency.rate)/10;
                    return Math.ceil(temp) * 10;
                });

                this.$store.commit('updateSuggestion', Math.ceil(this.suggestion * selectedCurrency.rate));
                this.$store.dispatch('setPresets', arr);
            },
            updateSuggestion (e) {
                this.$store.commit('updateSuggestion', e.target.value);
            },
            isNumber: function(evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            }
        }
    }
</script>

<style scoped>
    .form-container {
        padding: 10px;
        background-color: #f5f5f5;
        width: 550px;
    }
    .donate-form__container {
        width: 500px;
    }
    .price-button__container {
        margin-bottom: 20px;
    }
</style>
