<template>
    <div class="col-md-2 button-container">
        <button class="donate-btn" :class="{ active : suggestion == preset }" @click="setDonate(preset)">
            <span class="text-truncate">{{`${defaultSymbol}${preset}`}} </span>
        </button>
    </div>
</template>

<script>
    export default {
        name: "PriceButton",
        // props: ['preset'],
        props: {preset: Number},
        computed: {
            defaultSymbol () {
                return this.$store.state.defaultSymbol;
            },
            suggestion() {
                return this.$store.state.suggestion;
            },
        },
        methods: {
            setDonate(val) {
                this.$store.dispatch('setDonate', val);
            },
        }
    }
</script>

<style scoped>
    .donate-btn {
        margin-left: 10px;
        padding: 10px;
        min-width: 50px;
    }
    .donate-btn.active {
        background-color: #4C85DA;
        color: white;
    }
    .button-container {
        margin-bottom: 20px;
    }
</style>
